.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow-y: auto;
}

.App-header {
  display: flex;
  height: 50px;
  gap: 20px;
  align-items: center;

}
